
* {
    box-sizing: border-box;
}

body{
    background-image: url(stormbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


main {
    border: solid 3px black;
    border-radius: 15px;
    background: linear-gradient(white, white, rgba(135, 207, 235), rgb(135, 207, 235));
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 90%;
    max-width: 750px;
    margin: auto;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

h1{
    text-align: center;
    font-family: Calibri;
    font-size: 40px;
}

h3{
  padding-left: 20px;
  font-size: 26px;
}

.pteksti
{
  padding-left: 20px;
  font-size: 16px;
  font-family: Arial;
}

.indextxt {
    margin-top: 15px;
    text-align: center;
    font-family: Aptos;
    font-size: 20px;

}

.ylä {
    text-align: center;
    font-family: Calibri;
    font-size: 28px;
}

.card {
  max-width: 300px;
  margin: 8px;
  text-align: center;
  font-family: Aptos;
  border: solid 3px black;
  background-color: white;
}

.price {
  color:rgb(0, 0, 0);
  font-size: 25px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(102, 192, 200);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.card button:hover {
  background-color: rgb(189, 251, 255);
}

.wrap{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

#ETlogo
{     
      width: 100%;
      max-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

#valikuva
{
     width: 100%;
      max-width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 20px;
      border: solid 2px black;
    }

.navbar ul{
    list-style-type: none;
    background-color: white;
    width: 200px;
    padding: 0px;
    margin: 0px;
    border: solid 2px;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    text-align: center;
}
.navbar li{
  text-align: center;
  border-bottom: solid 2px; 

}
.navbar li:last-child{
    border-bottom: none;
}
.navbar a:hover{
        background-color: rgb(189, 251, 255);
        color: black;
}

li a.active{
    background-color: rgb(102, 192, 200);
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #00d15e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00d15e;
}

.container {
  border-radius: 5px;
  padding: 20px;
}


.container2 {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #00d15e;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: auto;
  margin: 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #00d15e;
}

.cbox {
  margin-left: 20px;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid rgb(0, 0, 0);
}

span.price {
  float: right;
  color: rgb(0, 0, 0);
}

.kori {
  border: 2px solid black;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.kori p{
  font-size: 18px;
  font-family: arial;
}
.kori h4{
  font-size: 26px;
}

h4 {
  font-size: 26px;
}